<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCd2GtyMvQNkqS17InCSy9Or4mgMiQfvm4</string>
	<key>GCM_SENDER_ID</key>
	<string>375172309468</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.house201.petlog</string>
	<key>PROJECT_ID</key>
	<string>petlog-b3375</string>
	<key>STORAGE_BUCKET</key>
	<string>petlog-b3375.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:375172309468:ios:d58a8de7a1fd17fe1e6f19</string>
</dict>
</plist>